/* Hovedfargene */

/* * {
    color: #C41230;
    color: #03588C;
    color: #F2F2F2;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open-sans", sans-serif;
}

#div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#forecastDay-output {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px;
  background-color: #03588c;
  color: white;
}

.weather-title {
  font-weight: bold;
}

.weather-p {
  font-weight: normal;
  margin-top: 10px;
}
